<div class="container-fluid">

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Proyectos
			</h1>
		</div>
	</div>
	<!-- /.row -->

	<div class="row container-bordered-white">
		<div class="col-lg-12">
			<md-table-container>
				<table md-table id="projects-table">
					<thead md-head md-order="configDT.order">
						<tr md-row>
							<th md-column><span>SEPPI</span></th>
							<th md-column><span>Nombre</span></th>
							<th md-column>Subprograma</th>
							<th md-column>Estado</th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row ng-repeat="project in projects.items">
							<td md-cell>{{project.code}}</td>
							<td md-cell>{{project.name}}</td>
							<td md-cell>{{project.subprogram.name}}</td>
							<td md-cell>{{project.status}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>

			<md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-limit="configDT.limit" md-limit-options="[5, 10, 15]"
				md-page="configDT.page" md-total="{{projects.count}}" md-on-paginate="projectsCtrl.getProjects" md-page-select="true"></md-table-pagination>
		</div>
	</div>
	<!-- /.row -->
</div>