<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12 centered">
            <h1 class="page-header m-b-0">
                PLAN DE DESARROLLO
            </h1>
        </div>
        <div class="col-lg-12 centered">
            <h4>"{{ plan.name }}" {{ plan.init_year }} - {{ plan.end_year }}</h4>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <uib-tabset active="active">
            <uib-tab index="$index" ng-repeat="dimention in plan.dimentions" heading="{{ dimention.name }}">
                <div class="col-lg-12 plan-container">
                    <v-accordion class="vAccordion--default">

                        <v-pane ng-repeat="axe in dimention.axes" expanded="axe.isExpanded">
                            <v-pane-header>
                                {{ axe.name }}
                            </v-pane-header>

                            <v-pane-content>
                                <div class="row m-r-10 m-l-10">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Programa</th>
                                            <th>Subprograma</th>
                                            <th>Meta</th>
                                        </tr>
                                        </thead>
                                        <tbody ng-repeat="program in axe.programs">
                                        <tr>
                                            <td rowspan="{{program.total + program.subprograms.length + 1 }}">{{
                                                program.name }}
                                            </td>
                                        </tr>
                                        <tr ng-repeat-start="subprogram in program.subprograms">
                                            <td rowspan="{{ subprogram.goals.length + 1 }}"> {{ subprogram.name }}</td>
                                        </tr>
                                        <tr ng-repeat-end ng-repeat="goal in subprogram.goals">
                                            <td>{{ goal.name }}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </v-pane-content>
                        </v-pane>

                    </v-accordion>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>

    <div class="page-header">
        <h1>Planes de Desarrollo Históricos </h1>
    </div>

    <div class="row">
        <div class="col-sm-4" ng-repeat="plan in plans" ng-click="planCtrl.selectPlan()">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ plan.init_year }} - {{ plan.end_year}}</h3>
                </div>
                <div class="panel-body">
                    {{ plan.name }}
                </div>
            </div>
        </div>
    </div>

    <div class="row centered m-10">
        <p>
            <button type="button" class="btn btn-success button-md" ng-click="planCtrl.uploadPlan()">Cargar Plan</button>
            <button type="button" class="btn btn-success button-md" ng-click="planCtrl.downloadFormat()">Descargar Formato
            </button>
        </p>
    </div>
</div>
