<div class="container-fluid">

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Estadísticas
			</h1>
		</div>
	</div>
	<!-- /.row -->

	<div class="row ">
		<div class="col-lg-12">
			<div class=" panel panel-default p-25">
				<div class="row">
					<div class="form-group col-lg-6">
						<label>Plan de Desarrollo</label>
						<select class="form-control" ng-options="dp.name for dp in development_plans" ng-model="development_plan" ng-change="statisticsCtrl.clearDevPlan()"
							required>
						</select>
					</div>
					<div class="form-group col-lg-5">
						<label>Dimensión</label>
						<select class="form-control" ng-disabled="!development_plan.id" ng-change="statisticsCtrl.clearDim()" ng-options="dim.name for dim in development_plan.dimentions"
							ng-model="dimention">
						</select>
					</div>
					<div class="form-group col-lg-1 centered chevron-filter" ng-click="expanded = !expanded">
						<i class="fa m-t-27" ng-class="expanded ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
					</div>
				</div>
				<div class="row" ng-show="expanded">
					<div class="form-group col-lg-6">
						<label>Eje</label>
						<select class="form-control" ng-disabled="!dimention.id" ng-options="axe.name for axe in dimention.axes" ng-change="statisticsCtrl.clearAxe()"
							ng-model="axe">
						</select>
					</div>
					<div class="form-group col-lg-6">
						<label>Programa</label>
						<select class="form-control" ng-disabled="!axe.id" ng-options="program.name for program in axe.programs" ng-change="statisticsCtrl.clearProgram()"
							ng-model="program">
						</select>
					</div>
					<div class="form-group col-lg-6">
						<label>Subprograma</label>
						<select class="form-control" ng-disabled="!program.id" ng-model="subprogram">
							<option ng-repeat="subprogram in program.subprograms" ng-value="subprogram.id">{{ subprogram.name }}</option>
						</select>
					</div>
					<div class="form-group col-lg-6" ng-show="!program.id">
						<label>Dependencia</label>
						<select class="form-control" ng-model="secretary">
							<option value="-1"></option>
							<option ng-repeat="secretary in secretaries" ng-value="secretary.id">{{ secretary.name }}</option>
						</select>
					</div>
					<div class="form-group col-lg-6" ng-show="program.id">
						<label>Dependencia</label>
						<select class="form-control" ng-model="secretary">
							<option value="-1"></option>
							<option ng-repeat="secretary in program.secretaries" ng-value="secretary.id">{{ secretary.name }}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->

	<div class="row" ng-show="development_plan.id">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Filtros </h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-lg-6">
							<label>Requiero</label>
							<select class="form-control" ng-options="counter.label for counter in counters" ng-model="counter" ng-change="statisticsCtrl.getFilters()">
							</select>
						</div>
						<div class="form-group col-lg-6">
							<label>Filtros</label>
							<multiselect ng-disabled="!counter.filters" style="display: block;" ng-model="selectedFilters" options="f.label for f in counter.filters"
								data-multiple="true" data-compare-by="id" scroll-after-rows="5" filter-after-rows="5" tabindex="-1">
							</multiselect>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-lg-4" ng-show="statisticsCtrl.applyFilter('Género')">
							<label>Género</label>
							<select class="form-control" ng-options="gender.name for gender in genders" ng-model="filtersData[1]" ng-value="gender">
							</select>
						</div>
						<div class="form-group col-lg-4" ng-show="statisticsCtrl.applyFilter('Rango Edad')">
							<label>Rango Edad</label>
							<select class="form-control" ng-options="ar.name for ar in age_range" ng-model="filtersData[2]" ng-value="ar">
							</select>
						</div>
						<div class="form-group col-lg-4" ng-show="statisticsCtrl.applyFilter('Condición Especial')">
							<label>Condición Especial</label>
							<select class="form-control" ng-options="sc.name for sc in special_conditions" ng-model="filtersData[3]" ng-value="sc">
							</select>
						</div>
						<div class="form-group col-lg-4" ng-show="statisticsCtrl.applyFilter('Discapacidad Auditiva')">
							<label>Discapacidad Auditiva</label>
							<select class="form-control" ng-options="hi.name for hi in hearing_impairments" ng-model="filtersData[4]" ng-value="hi">
							</select>
						</div>
						<div class="form-group col-lg-4" ng-show="statisticsCtrl.applyFilter('Discapacidad Visual')">
							<label>Discapacidad Visual</label>
							<select class="form-control" ng-options="vi.name for vi in visual_impairments" ng-model="filtersData[5]" ng-value="vi">
							</select>
						</div>
						<div class="form-group col-lg-4" ng-show="statisticsCtrl.applyFilter('Discapacidad Motriz')">
							<label>Discapacidad Motriz</label>
							<select class="form-control" ng-options="md.name for md in motor_disabilities" ng-model="filtersData[6]" ng-value="md">
							</select>
						</div>
						<div class="form-group col-lg-4" ng-show="statisticsCtrl.applyFilter('Tipo Víctima')">
							<label>Tipo Victima</label>
							<select class="form-control" ng-options="vt.name for vt in victim_types" ng-model="filtersData[7]" ng-value="vt">
							</select>
						</div>
						<div class="form-group col-lg-4" ng-show="statisticsCtrl.applyFilter('Grupo Etnico')">
							<label>Grupo Étnico</label>
							<select class="form-control" ng-options="eg.name for eg in ethnic_groups" ng-model="filtersData[8]" ng-value="eg">
							</select>
						</div>
						<div class="form-group col-lg-4" ng-show="statisticsCtrl.applyFilter('Madre Cabeza de Hogar')">
							<label>Madre Cabeza de Hogar</label>
							<select class="form-control" ng-model="filtersData[9]">
								<option value="true">Aplica</option>
								<option value="false">No Aplica</option>
							</select>
						</div>
						<div class="form-group col-lg-4" ng-show="statisticsCtrl.applyFilter('Discapacidad Mental')">
							<label>Discapacidad Mental</label>
							<select class="form-control" ng-model="filtersData[10]">
								<option value="true">Aplica</option>
								<option value="false">No Aplica</option>
							</select>
						</div>
						<div class="form-group col-lg-4" ng-show="statisticsCtrl.applyFilter('Número Identificación')">
							<label>Número de Identificación</label>
							<input class="form-control" type="text" ng-model="filtersData[11]">
						</div>
						<div class="form-group col-lg-4" ng-show="statisticsCtrl.applyFilter('Zona Sisben')">
							<label>Tipo de Zona</label>
							<select class="form-control" ng-options="sz.name for sz in sisben_zones" ng-model="filtersData[12]" ng-value="sz">
							</select>
						</div>
						<div class="form-group col-lg-4" ng-show="statisticsCtrl.applyFilter('Municipio')">
							<label>Municipio</label>
							<select class="form-control" ng-options="m.name for m in municipalities" ng-model="filtersData[13]" ng-value="sz">
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row centered m-10">
		<button type="button" ng-disabled="!development_plan.id || !counter.id || spinner" class="btn btn-success button-md" ng-click="statisticsCtrl.getReport()">Consultar</button>
	</div>

	<div class="row" ng-show="report">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title pull-left"><i class="fa fa-bar-chart-o fa-fw"></i> Resultados </h3>
					<button class="btn btn-xs btn-default pull-right" ng-click="statisticsCtrl.clean()">Limpiar</button>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body centered">
					<div class="col-lg-12">
						<div class="well" ng-repeat="report in reports track by $index">
							{{report}}
						</div>
						<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--GRAFICO-->
	<!--div class="row" ng-show="report">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Resultados </h3>
				</div>
				<div class="panel-body centered">
					<div class="col-lg-6">
						<canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
						</canvas>
					</div>
				</div>
			</div>
		</div>
	</div-->
	<!-- /.row -->

	<!-- /.row -->
</div>