<div class="container-fluid">

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Estadísticas
			</h1>
		</div>
	</div>
	<!-- /.row -->

	<div class="row ">
		<div class="col-lg-12">
			<div class=" panel panel-default p-25">
				<div class="row">
					<div class="form-group col-lg-6">
						<label>Plan de Desarrollo</label>
						<select class="form-control">
                        <option ng-repeat="dp in development_plans">{{ dp.slogan }} - {{ dp.init_year }} - {{ dp.end_year }}</option>
                    </select>
					</div>
					<div class="form-group col-lg-5">
						<label>Fechas:</label>
						<input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" />
					</div>
					<div class="form-group col-lg-1 centered chevron-filter" ng-click="expanded = !expanded">
						<i class="fa m-t-27" ng-class="expanded ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
					</div>
				</div>
				<div class="row" ng-show="expanded">s
					<div class="form-group col-lg-6">
						<label>Dimensión</label>
						<select class="form-control">
                        <option ng-repeat="dimention in dimentions">{{ dimention.name }}</option>
                    </select>
					</div>
					<div class="form-group col-lg-6">
						<label>Eje</label>
						<select class="form-control">
                        <option ng-repeat="axe in axes">{{ axe.name }}</option>
                    </select>
					</div>
					<div class="form-group col-lg-6">
						<label>Programa</label>
						<select class="form-control">
                        <option ng-repeat="program in programs">{{ program.name }}</option>
                    </select>
					</div>
					<div class="form-group col-lg-6">
						<label>Subprograma</label>
						<select class="form-control">
                        <option ng-repeat="dp in development_plans">{{ subprogram.name }}</option>
                    </select>
					</div>
					<div class="form-group col-lg-6">
						<label>Secretaría</label>
						<select class="form-control">
                        <option ng-repeat="secretary in secretaries">{{ secretary.name }}</option>
                    </select>
					</div>

				</div>
			</div>

		</div>
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Resultados </h3>
				</div>
				<div class="panel-body">
					<canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
					</canvas>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Caracterización</h3>
				</div>
				<div class="panel-body">
					<div class="list-group">
						<a href="#" class="list-group-item">
							<span class="badge">4 minutes ago</span>
							<i class="fa fa-fw fa-comment"></i> Commented on a post
						</a>
						<a href="#" class="list-group-item">
							<span class="badge">23 minutes ago</span>
							<i class="fa fa-fw fa-truck"></i> Order 392 shipped
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->

	<!-- /.row -->
</div>