<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Actualizar Dependencia</h3>
</div>
<div class="modal-body" id="modal-body">
	<form name="new_secretary">
        <div class="form-group">
            <label>Nombre Dependencia:</label>
            <input type="text" ng-model="data.secretary.name" class="form-control" required>
        </div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-danger button-sm" type="button" ng-click="modalCtrl.cancel()">Cancelar</button>
	<button class="btn btn-success button-sm" type="button" ng-click="modalCtrl.update()"  ng-disabled="new_secretary.$invalid">Actualizar</button>
</div>