<div class="row">
    <canvas id="line" class="chart chart-line" chart-data="analytics.graphs.speed" chart-labels="analytics.graphs.labels" chart-series="analytics.graphs.zones">
    </canvas>
</div>

<div class="row">
    <canvas id="doughnut" class="chart chart-doughnut" chart-data="analytics.graphs.avg_speed" chart-labels="analytics.graphs.zones">
    </canvas>
</div>

<div class="row">
    <canvas id="bar" class="chart chart-bar" chart-data="analytics.graphs.count" chart-labels="analytics.graphs.zones">
    </canvas>
</div>